---
title: Dienstverbandverificatie i9-verificatie
description: Volgens de Immigration Reform and Control Act moeten Amerikaanse werkgevers de arbeidsbevoegdheidsstatus van nieuwe werknemers controleren.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.scope: Core, Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: c1886413ba7eabc60f902c0183b443d63a579d7b
ms.sourcegitcommit: 34e543e807ac8790597f522fe3b4f0266cf4ee56
ms.translationtype: HT
ms.contentlocale: nl-NL
ms.lasthandoff: 03/24/2020
ms.locfileid: "3161679"
---
# <a name="employment-verification-i9-verification"></a><span data-ttu-id="6b11c-103">Dienstverbandverificatie i9-verificatie</span><span class="sxs-lookup"><span data-stu-id="6b11c-103">Employment verification i9 verification</span></span>

[!include [banner](../../../includes/banner.md)]

<span data-ttu-id="6b11c-104">Volgens de Immigration Reform and Control Act moeten Amerikaanse werkgevers de arbeidsbevoegdheidsstatus van nieuwe werknemers controleren.</span><span class="sxs-lookup"><span data-stu-id="6b11c-104">The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees.</span></span> <span data-ttu-id="6b11c-105">Deze procedure doorloopt de stappen van het registreren van de benodigde documenten voor I-9-verificatie.</span><span class="sxs-lookup"><span data-stu-id="6b11c-105">This procedure will walk you through the steps of recording the necessary documents for I-9 verification.</span></span> <span data-ttu-id="6b11c-106">Gebruik het bedrijf USMF voor deze procedure.</span><span class="sxs-lookup"><span data-stu-id="6b11c-106">Use the USMF company for this procedure.</span></span>

1. <span data-ttu-id="6b11c-107">Ga naar Human resources > Medewerkers > Werknemers.</span><span class="sxs-lookup"><span data-stu-id="6b11c-107">Go to Human resources > Workers > Employees.</span></span>
2. <span data-ttu-id="6b11c-108">Gebruik de snelfilter om records te zoeken.</span><span class="sxs-lookup"><span data-stu-id="6b11c-108">Use the Quick Filter to find records.</span></span> <span data-ttu-id="6b11c-109">Filter bijvoorbeeld op het Veld Naam met een waarde van "Vince".</span><span class="sxs-lookup"><span data-stu-id="6b11c-109">For example, filter on the Name field with a value of 'Vince'.</span></span>
3. <span data-ttu-id="6b11c-110">Selecteer de werknemer.</span><span class="sxs-lookup"><span data-stu-id="6b11c-110">Select the employee.</span></span> <span data-ttu-id="6b11c-111">Voorbeeld: Vincent Prado</span><span class="sxs-lookup"><span data-stu-id="6b11c-111">Example: Vince Prado</span></span>
4. <span data-ttu-id="6b11c-112">Vouw het sneltabblad Persoonlijke gegevens uit.</span><span class="sxs-lookup"><span data-stu-id="6b11c-112">Expand the Personal information FastTab.</span></span>
5. <span data-ttu-id="6b11c-113">Klik op Identificatienummers.</span><span class="sxs-lookup"><span data-stu-id="6b11c-113">Click Identification numbers.</span></span>
6. <span data-ttu-id="6b11c-114">Klik op Nieuw.</span><span class="sxs-lookup"><span data-stu-id="6b11c-114">Click New.</span></span>
7. <span data-ttu-id="6b11c-115">Selecteer het identificatietype dat u registreert.</span><span class="sxs-lookup"><span data-stu-id="6b11c-115">Select the identification type that you are recording.</span></span> <span data-ttu-id="6b11c-116">Voorbeeld: Paspoort</span><span class="sxs-lookup"><span data-stu-id="6b11c-116">Example: Passport</span></span>
8. <span data-ttu-id="6b11c-117">Typ een waarde in het veld Nummer.</span><span class="sxs-lookup"><span data-stu-id="6b11c-117">In the Number field, type a value.</span></span>
9. <span data-ttu-id="6b11c-118">Selecteer Ja in het veld Primair.</span><span class="sxs-lookup"><span data-stu-id="6b11c-118">Select Yes in the Primary field.</span></span>
10. <span data-ttu-id="6b11c-119">Voer in het veld Omschrijving een korte omschrijving van de identificatierecord in.</span><span class="sxs-lookup"><span data-stu-id="6b11c-119">In the Description field, enter a brief description of the identification record..</span></span>
11. <span data-ttu-id="6b11c-120">Selecteer bij Uitgevende instantie de instantie die de vorm van identificatie voor de werknemer heeft uitgegeven.</span><span class="sxs-lookup"><span data-stu-id="6b11c-120">In the issuing agency select the agency that issued the form of identification to the worker.</span></span> <span data-ttu-id="6b11c-121">Voorbeeld: Overheid</span><span class="sxs-lookup"><span data-stu-id="6b11c-121">Example: Government</span></span>
12. <span data-ttu-id="6b11c-122">Voer de datum in waarop de uitgevende instantie de vorm van identificatie voor de werknemer heeft uitgegeven.</span><span class="sxs-lookup"><span data-stu-id="6b11c-122">Enter the date that the issuing agency issued the form of identification to the worker.</span></span> <span data-ttu-id="6b11c-123">Bijvoorbeeld: 15-02-2011</span><span class="sxs-lookup"><span data-stu-id="6b11c-123">Example: 02/15/2011</span></span>
13. <span data-ttu-id="6b11c-124">Voer de datum in waarop de vorm van identificatie verloopt.</span><span class="sxs-lookup"><span data-stu-id="6b11c-124">Enter the date when the form of identification expires.</span></span> <span data-ttu-id="6b11c-125">Bijvoorbeeld: 15-2-2021</span><span class="sxs-lookup"><span data-stu-id="6b11c-125">Example: 2/15/2021</span></span>
14. <span data-ttu-id="6b11c-126">Klik op Opslaan.</span><span class="sxs-lookup"><span data-stu-id="6b11c-126">Click Save.</span></span>
15. <span data-ttu-id="6b11c-127">Sluit de pagina.</span><span class="sxs-lookup"><span data-stu-id="6b11c-127">Close the page.</span></span>
16. <span data-ttu-id="6b11c-128">Klik op het tabblad Aanstelling.</span><span class="sxs-lookup"><span data-stu-id="6b11c-128">Click the Employment tab.</span></span>
17. <span data-ttu-id="6b11c-129">Klik op I-9.</span><span class="sxs-lookup"><span data-stu-id="6b11c-129">Click I-9.</span></span>
18. <span data-ttu-id="6b11c-130">Klik op Nieuw.</span><span class="sxs-lookup"><span data-stu-id="6b11c-130">Click New.</span></span>
19. <span data-ttu-id="6b11c-131">Selecteer een optie in het veld Werkvergunningen.</span><span class="sxs-lookup"><span data-stu-id="6b11c-131">In the Work eligibility field, select an option.</span></span>
    * <span data-ttu-id="6b11c-132">Als de werknemer geen Amerikaans staatsburger is, moet u het vreemdelingen- of toelatingsnummer van de werknemer opgeven.</span><span class="sxs-lookup"><span data-stu-id="6b11c-132">If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.</span></span>  
20. <span data-ttu-id="6b11c-133">Selecteer de optie GroupListA.</span><span class="sxs-lookup"><span data-stu-id="6b11c-133">Select the GroupListA option.</span></span>
    * <span data-ttu-id="6b11c-134">De lijst die u selecteert is afhankelijk van welke vorm van identificatie de werknemer heeft opgegeven.</span><span class="sxs-lookup"><span data-stu-id="6b11c-134">The list that you select depends on what form of identification the worker provided.</span></span> <span data-ttu-id="6b11c-135">Eenwerknemer moet één document van Lijst A opgeven of één document uit Lijst B en C. Als de werknemer bijvoorbeeld een paspoort heeft verstrekt, moet Lijst A worden geselecteerd.</span><span class="sxs-lookup"><span data-stu-id="6b11c-135">A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected.</span></span> <span data-ttu-id="6b11c-136">Als de werknemer echter alleen het rijbewijs en de identiteitskaart heeft verstrekt, moeten lijst B en C worden geselecteerd.</span><span class="sxs-lookup"><span data-stu-id="6b11c-136">However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.</span></span>  
21. <span data-ttu-id="6b11c-137">Selecteer in het veld I-9-documenttypen het type document dat de werknemer heeft verstrekt.</span><span class="sxs-lookup"><span data-stu-id="6b11c-137">In the I-9 document type field, select the type of document that the worker provided.</span></span>
22. <span data-ttu-id="6b11c-138">Typ of selecteer een waarde in het veld Documentnummer.</span><span class="sxs-lookup"><span data-stu-id="6b11c-138">In the Document number field, enter or select a value.</span></span>
23. <span data-ttu-id="6b11c-139">Klik op Opslaan.</span><span class="sxs-lookup"><span data-stu-id="6b11c-139">Click Save.</span></span>

