--- 
title: Verificatie van implementatie via formulier I-9
description: Volgens de Immigration Reform and Control Act moeten Amerikaanse werkgevers de arbeidsbevoegdheidsstatus van nieuwe werknemers controleren.
author: ShielaSogge
manager: AnnBe
ms.date: 06/23/2016
ms.topic: business-process
ms.prod: 
ms.service: dynamics-ax-applications
ms.technology: 
audience: Application User
ms.reviewer: rschloma
ms.search.scope: Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: AX 7.0.0
ms.translationtype: HT
ms.sourcegitcommit: 55b22d246d6bfa9e8159fb844da95f61fcf07c62
ms.openlocfilehash: 2183a6599646880e3af2a76b28a40a6299401943
ms.contentlocale: nl-nl
ms.lasthandoff: 07/28/2017

---
# <a name="employment-verification-using-form-i-9"></a>Verificatie van implementatie via formulier I-9

[!include[task guide banner](../../../includes/task-guide-banner.md)]

Volgens de Immigration Reform and Control Act moeten Amerikaanse werkgevers de arbeidsbevoegdheidsstatus van nieuwe werknemers controleren. Deze procedure doorloopt de stappen van het registreren van de benodigde documenten voor I-9-verificatie. Gebruik het bedrijf USMF voor deze procedure.

1. Ga naar Human resources > Medewerkers > Werknemers.
2. Gebruik de snelfilter om records te zoeken. Filter bijvoorbeeld op het Veld Naam met een waarde van "Vince".
3. Selecteer de werknemer. Voorbeeld: Vincent Prado
4. Vouw het sneltabblad Persoonlijke gegevens uit.
5. Klik op Identificatienummers.
6. Klik op Nieuw.
7. Selecteer het identificatietype dat u registreert. Voorbeeld: Paspoort
8. Typ een waarde in het veld Nummer.
9. Selecteer Ja in het veld Primair.
10. Voer in het veld Omschrijving een korte omschrijving van de identificatierecord in.
11. Selecteer bij Uitgevende instantie de instantie die de vorm van identificatie voor de werknemer heeft uitgegeven. Voorbeeld: Overheid
12. Voer de datum in waarop de uitgevende instantie de vorm van identificatie voor de werknemer heeft uitgegeven. Bijvoorbeeld: 15-02-2011
13. Voer de datum in waarop de vorm van identificatie verloopt. Bijvoorbeeld: 15-2-2021
14. Klik op Opslaan.
15. Sluit de pagina.
16. Klik op het tabblad Aanstelling.
17. Klik op I-9.
18. Klik op Nieuw.
19. Selecteer een optie in het veld Werkvergunningen.
    * Als de werknemer geen Amerikaans staatsburger is, moet u het vreemdelingen- of toelatingsnummer van de werknemer opgeven.  
20. Selecteer de optie GroupListA.
    * De lijst die u selecteert is afhankelijk van welke vorm van identificatie de werknemer heeft opgegeven. Eenwerknemer moet één document van Lijst A opgeven of één document uit Lijst B en C. Als de werknemer bijvoorbeeld een paspoort heeft verstrekt, moet Lijst A worden geselecteerd. Als de werknemer echter alleen het rijbewijs en de identiteitskaart heeft verstrekt, moeten lijst B en C worden geselecteerd.  
21. Selecteer in het veld I-9-documenttypen het type document dat de werknemer heeft verstrekt.
22. Typ of selecteer een waarde in het veld Documentnummer.
23. Klik op Opslaan.


